# Genel Git Ayarları
.DS_Store
Thumbs.db
*.log

# IntelliJ IDEA Dosyaları
.idea/
*.iml

# VS Code ayarları
.vscode/

# Maven
target/

# Gradle
.gradle/
build/

# Angular
node_modules/
dist/
.angular/

# Çevresel Değişkenler ve Çalışma Alanı
.env
*.env

# OS'ye Özgü Dosyalar
*.swp
*.swo
*.swn
*.bak

# Git Tarafından Üretilen Dosyalar
.git/
